# Основные библиотеки
faster-whisper==1.2.1
moviepy==2.2.1
python-dotenv==1.2.1
flask==3.0.0
unstructured[all-docs] --prefer-binary

# Библиотеки NVIDIA для работы CUDA 12 на Windows без поиска DLL
nvidia-cublas-cu12==12.9.*
nvidia-cudnn-cu12==9.21.*
nvidia-cuda-nvrtc-cu12==12.9.*

# Зависимости для обработки данных
numpy<3.0.0
tqdm

# Библиотека для обнаружения сцен в видео
opencv-python==4.13.0.*
scenedetect==0.6.7.*

# Библиотека для взаимодействия с LLM
ollama==0.6.1